html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

li {
    list-style: none;
}

a, Link {
    text-decoration: none;
}

.body {
    color: #3a4166;
}

.general {
    background-image: linear-gradient(45deg,#00349b,rgba(0,92,255,.9219),#007aff);
    height: 740px;
    margin-top: 70px;
}

.nav {
    padding-top: 10px;
    position: fixed;
    background-image: linear-gradient(45deg,#00349b,rgba(0,92,255,.9219),#007aff);
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    z-index: 3;
    width: 100%;
    top: 0;
    padding-bottom: 15px;
    animation-name: fallIn;
    animation-duration: .8s;
    color: white;
}

.container {
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav-top {
    display: flex;
    float: right;
}

.nav-top li {
    padding: 0 16px;
}

.nav-top a {
    color: white;
    font-size: 12px;
}

.nav-main {
    padding: 0;
    position: relative;
}

.nav-lists {
    margin-left: auto;
    font-size: 14px;
    color: white;
}

.nav-lists ul {
    float: right;
    display: flex;
}

.nav-lists li {
    padding: 0 7.5px;
    margin-top: -3rem;
    margin-right: 25px;
}

.nav-brand img {
    padding-top: 25px;
}

.hero {
    margin: -70px 0 0 0;
    max-height: 740px;
    color: white;
}

.row {
    display: flex;
    padding-top: 85px;
}

.hero-img {
    width: 60%;
}

.hero-img img {
    height: 65.5%;
}

.hero-info {
    padding-top: 130px;
    padding-left: 10px;
}

.hero-info h1 {
    font-size: 40px;
    font-weight: bold;
}

.hero-info h2 {
    font-size: 15px;
    font-weight: lighter;
    line-height: 25px;
    padding: 22px 10px 35px 0;
}

.hero-info h3 {
    font-size: 50px;
    font-weight: normal;
    padding-top: 20px;
}

.countdown p {
    font-size: 13px;
}

.countdown li {
    display: inline;
    padding: 0 25px;
    font-size: 12px;
}

.btn {
    color: white;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
}

.pilihSekarang {
    color: #fff;
    background: #fb8c00;
    padding: 12px 35px;
    margin-top: 40px;
}

.services {
    background-color: #f6fbff;
    padding: 70px 0 65px;
}

.services h3 {
    font-size: 32px;
    text-align: center;
    color: #3a4166;
    padding-bottom: 50px;
}

.ser4 {
    display: flex;
    height: 394px;
    padding-bottom: 30px;
}

.ser4-card {
    text-align: center;
    max-width: 260px;
    padding: 55px 24px;
    background: #ffffff;
    margin-right: 28px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.ser4-detail {
    color: #3a4166;
}

.ser4Title {
    font-size: 18px;
    padding-top: 20px;
    font-weight: 700;
    margin-bottom: 18px;
}

.ser4Desc {
    font-size: 14px;
    margin-bottom: 24px;
    color: rgba(58,65,102,.7);
}

.ser4Start {
    font-size: 14px;
    font-weight: 700;
    opacity: .7;
}

.ser4Price {
    font-size: 24px;
    font-weight: 700;
}

.ser1 {
    margin-top: 24px;
    height: 149.75px;
}

.ser1-container {
    width: 545px;
    position: relative;
    left: 25.5%;
}

.ser1-card {
    text-align: left;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.ser1-innercard {
    padding: 12px;
}

.ser1-content {
    display: flex;
    text-align: left;
}

.ser1-img {
    flex: 0 0 25%;
    max-width: 22%;
}

.ser1-text {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 30px;
    margin-top: 8px;
}

.ser1-text h4 {
    font-size: 18px;
    margin-bottom: 16px;
    text-align: left;
}

.ser1-text p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .05em;
    color: #757a94;
}

.priority {
    padding: 100px 0;
    color: #3a4166;
}

.priority-title {
    margin-bottom: 90px;
    font-size: 33px;
    text-align: center;
}

.pri-row {
    display: flex;
    margin: 0 -15px;
}


.pri-txt {
    order: 1;
    padding: 0 15px;
}

.pri-imgcon {
    order: 2;
    padding: 0 65px 150px 72px;
}


.pri-img {
    position: relative;
}

.pri-imgb {
    position: absolute;
    z-index: 2;
    top: 65%;
    left: -65px;
    max-width: 100%;
    height: auto;
}

.pri-imgl, .pri-imgr {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.pri-imgr {
    left: -65px;
}

.pri-imgl {
    right: -65px;
}

.pri-txt1 {
    display: flex;
    margin-bottom: 40px;
}

.pri-txt1 img {
    position: relative;
    top: -40px;
    margin-right: 30px;
}
.pri-txth4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.pri-txtp {
    font-size: 16px;
    opacity: .7;
}

.lihatSelengkapnya {
    color: #fff;
    background: #fb8c00;
    padding: 12px 35px;
    margin-left: 100px;
}

.cost {
    padding: 60px 0 70px;
    background: #f6fbff;
    color: #3a4166;
}

.cost-title {
    text-align: center;
    font-size: 33px;
    margin-bottom: 90px;
}

.cost-img {
    margin-bottom: 60px;
    padding: 20px 66px 50px 50px;
}

.cost-imgx {
    display: inline-block;
    position: relative;
}

.cost-img2, .cost-img6, .cost-img3, .cost-img4, .cost-img5 {
    position: absolute;
}

.cost-img2 {
    bottom: -50px;
    left: 16%;
}

.cost-img3 {
    top: 30%;
    left: -48px;
}

.cost-img4 {
    top: 30%;
    right: -66px;
}

.cost-img5 {
    top: -30px;
    left: 8%;
}

.cost-img6 {
    bottom: -70px;
    right: -22px;
}

.cost-txtcon {
    position: relative;
    padding-right: 30px;
}

.cost-txt {
    margin-bottom: 40px;
}
.cost-txt1 {
    display: flex;
}

.cost-txt2 {
    margin-left: 25px;
    text-align: left;
}

.cost-txt1 img {
    margin-left: 30px;
}

.cost-txth4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.cost-txtp {
    font-size: 16px;
    opacity: .7;
}

.testi {
    padding: 20px 0;
    height: 600px;
    color: #3a4166;
}

.testi-title {
    font-size: 33px;
    text-align: left;
}

.testi-list {
    width: 300px;
    height: 300px;
    margin: 40px 50px 40px 0px;
    padding-right: 40px;
    float: left;
    border-radius: 30px;
    position: relative;
}

.testi-detail {
    position: relative;
}

.testi-name {
    font-weight: bold;
}

.testi-name span {
    font-weight: normal;
}

.testi-icon {
    position: absolute;
    top: 125px;
    left: 160px;
    z-index: 1;
    background-color: white;
    border-radius: 100%;
}

.testi-desc {
    font-size: 14px;
    opacity: .7;
    text-align: left;
    padding: 20px 0 0 0px;
}

.testi-name {
    font-size: 14px;
    text-align: left;
    padding: 20px 0 0 0px;
}

.package {
    height: 900px;
    background: #f6fbff;
}

.pacCard {
    float: left;
    text-align: center;
    width: 244px;
    margin-top: -80px;
    padding: 88px 13px 35px 13px;
    background: #ffffff;
    margin-right: 22px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.pacDetail {
    color: #3a4166;
}

.pacLabel {
    font-size: 18px;
    font-weight: 700;
    background: #00bfa5;
    width: 100%;
    top: -88px;
    margin-left: -13px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px 13px;
    text-align: center;
    position: relative;
    color: white;
}

.pacTitle {
    font-size: 14px;
    position: relative;
    top: -45px;
    font-size: 24px;
}

.pacPrice {
    font-size: 14px;
    font-weight: 700;
    opacity: .7;
}

.pacDisc {
    font-family: NunitoSansBold,sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #007aff;
    margin-bottom: 37px;
    padding-right: 24px;
    position: relative;
}

.pacDisc span {
    font-size: 14px;
    content: "/bln";
    color: #3a4166;
    opacity: .7;
    position: absolute;
    bottom: 4px;
}

.btn-orange {
    color: #fff;
    background: #fb8c00;
    border: none;
    padding: 12px 35px;
    border-radius: 5px;
    font-family: NunitoSansBold,sans-serif;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
}

.pacDesc {
    opacity: .7;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 12px;
}

.pacFeat {
    text-align: left;
    margin: 30px 0 0;
    line-height: 2;
    padding: 0 0 0 30px;
    list-style: none;
    font-size: 14px;
}

.package_title {
    font-size: 33px;
    margin-bottom: 140px;
    text-align: center;
}

.clients {
    padding: 65px 0;
    height: 200px;
    background: #fff;
}

.clientsTitle {
    font-size: 33px;
    text-align: center;
    margin-bottom: 44px;
}

.clientsList {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.clientsIcon {
    float: left;
    width: 166px;
    height: 110px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 33px;
    transition: all 1.3s;    
}

.richeese {
    background: url(../images/richeese.svg);
}

.rabbani {
    background: url(../images/rabbani.svg);
}

.otten {
    background: url(../images/oten.svg);
}

.hydro {
    background: url(../images/hydro.svg);
}

.petro {
    background: url(../images/petro.svg);
}

.garansi {
    padding: 240px 0;
    background: #f6fbff;
}

.row2, .row3, .row5 {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
}

.garLogo {
    position: relative;
    top: -120px;
    left: 200px;
}

.garText {
    position: relative;
    left: 300px;
    width: 500px;
    top: -115px;
}

.garTitle {
    font-size: 33px;
    text-align: left;
}

.garDesc {
    font-size: 18px;
    opacity: .7;
    line-height: 2em;
    margin: 30px 0 40px;
    text-align: left;
}

.payment {
    padding: 80px 0 50px;
}

.payTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}

.payIcon {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    text-align: center;
    justify-content: center;
}

.payIcon img {
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s;
    margin: 0 30px 40px 0;
    opacity: .4;
}

.sukses {
    padding: 75px 0;
    background-image: linear-gradient(45deg,#00349b,rgba(0,92,255,.9219),#007aff);
}

.sukText {
    position: relative;
    top: -20px;
    left: 200px;
    color: white;
    width: 400px;
    font-size: 20px;
}

.sukBut {
    position: relative;
    left: 400px;
    top: -12px;
}

.footer {
    font-size: 14px;
    padding: 0px 10% 24px;
    background: #333;
    color: #c4c4c4;
    height: 850px;
}

.col-12 {
    flex: 0 0 26%;
    max-width: 26%;
}

.col-12 h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.foKon {
    margin-bottom: 20px;
}

.foKon, p {
    padding-bottom: 12px;
    font-size: 14px;
}

.row5-copy p, .row5-copyb p {
    font-size: 10px;
}

.row5-copyb{
    position: relative;
    left: 400px;
}

.row fo {
    padding-top: 20px;
}

.imgxx{
    width: 100%;
}